#result {
  display: none;
  font-family: roboto;
  font-weight: bold;
  padding-top: 30px;
}
body {
  background-color: rgb(190, 190, 190);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.reveal {
  padding-top: 20px;
  font-family: roboto;
  font-weight: bold;
  font-size: 16px;
  color: red;
}

